.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 3em);
  margin: 100px 1em 1em 1em;
}

.main .element {
  margin: 10px;
}

button.homeBtn {
  width: clamp(300px, 50%, 700px);
}
