.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 3em); /* noch anpassen je nach Höhe des Headers */
  margin: 120px 1em 1em 1em;
}

.previewContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
