.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 3em); /* noch anpassen je nach Höhe des Headers */
  margin: 120px 1em 1em 1em;
}

.wrapper {
  width: clamp(300px, 80%, 800px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper > * {
  margin: 1em;
}
