.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--boxPrimary);
  width: clamp(300px, 50%, 700px);
  min-height: 300px;
  padding: 1em;
  margin: 1em;
}
