.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 1em 1em 1em;
}

.container {
  width: clamp(300px, 80%, 1200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3%;
  /* background-color: var(--boxPrimary); */
  margin: clamp(1vw, 1%, 2vw);
  /* padding: 1em; */
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin: clamp(1vw, 1%, 2vw);
  border-radius: 15px;
  background-color: var(--boxPrimary);
  /* width: clamp(300px, 30%, 400px); */
  /* width: clamp(300px, 80%, 1200px); */
  height: 490px;
  width: 300px;
  text-decoration: none;
  color: black;
}

.imgContainer {
  position: relative;
  border-radius: 5%;
  overflow: hidden;
}

.img,
.imgReplacement {
  /* width: clamp(150px, 90%, 200px);
  height: clamp(150px, 30vh, 200px); */
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5%;
  background-color: var(--bgSecondary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

p.imageSource {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.6rem;
  background-color: rgb(71, 71, 71);
  opacity: 0.6;
  color: white;
  text-align: right;
  padding: 0 1em 0.2em 0.5em;
}

p.imageSource a {
  color: white;
  text-decoration: none;
}

.middleSec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.infos {
  margin: 1.5em 0;
  width: clamp(300px, 90%, 400px);
  padding: 1em;
  margin: clamp(1vw, 1%, 2vw);
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 180px;
}

.headline {
  margin-bottom: 15px;
  font-size: 16px;
}
