* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.container {
  width: clamp(300px, 80%, 1200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.middleSec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em clamp(2em, 5%, 4em);
  margin: clamp(1vw, 1%, 2vw);
  border-radius: 5%;
  background-color: var(--boxPrimary);
  width: clamp(300px, 90%, 500px);
  min-height: 40vh;
  text-decoration: none;
  color: black;
}

.img,
.imgReplacement {
  width: clamp(300px, 90%, 500px);
  height: clamp(300px, 30vh, 500px);
  object-fit: cover;
  border-radius: 5%;
  background-color: var(--bgSecondary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.location {
  color: rgb(71, 71, 71);
}

.infos {
  margin: 1.5em 0;
}

.switch {
  font-size: 36px;
  cursor: pointer;
  color: var(--bgSecondary);
}

.switchDisabled {
  font-size: 36px;
  color: lightgray;
}
