* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 130px 1em 1em 1em;
}

.container {
  width: clamp(300px, 80%, 1200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.middleSec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em clamp(2em, 5%, 4em);
  margin: clamp(1vw, 1%, 2vw);
  border-radius: 5%;
  background-color: var(--boxPrimary);
  width: clamp(300px, 90%, 500px);
  min-height: 40vh;
  text-decoration: none;
  color: black;
}

.img,
.imgReplacement {
  width: clamp(300px, 90%, 500px);
  height: clamp(300px, 30vh, 500px);
  object-fit: cover;
  border-radius: 5%;
  background-color: var(--bgSecondary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.location {
  width: 100%;
  color: rgb(71, 71, 71);
}

.heart {
  position: absolute;
  right: 1em;
  top: 1em;
  font-size: 1.5em;
  cursor: pointer;
  color: rgb(71, 71, 71);
}

.heart:hover {
  color: var(--bgSecondary);
}

.favInstruction {
  color: rgb(71, 71, 71);
  padding: 0.3em 0.8em;
  display: none;
  text-align: center;
}

.heart:hover ~ .favInstruction {
  display: block;
}

.infos {
  margin: 1.5em 0;
}

.switch {
  font-size: 36px;
  cursor: pointer;
  color: var(--bgSecondary);
}

.switchDisabled {
  font-size: 36px;
  color: lightgray;
}

/* Contact form: */

.contact {
  background-color: var(--bgSecondary);
  padding: 1em;
  margin: 1em;
  border-radius: 0.5em;
}

.contact label {
  display: block;
  margin: 1em 0em;
}

.contact textarea,
.contact input,
.contact select {
  display: block;
  padding: 0.5em;
  width: 100%;
}

.contact select:focus {
  outline: 3px solid var(--boxSecondary);
  border: none;
}

.thankyouMessage {
  background-color: var(--bgPrimary);
  padding: 1em 0;
  border-radius: 0.5em;
  text-align: center;
}

.thankyouMessage p {
  padding: 0.5em;
}

.thankyouMessage .disclaimer {
  font-size: 0.8em;
}
