* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 130px 1em 1em 1em;
}

.container {
  width: clamp(300px, 80%, 1200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.middleSec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em clamp(1em, 5%, 4em);
  margin: clamp(1vw, 1%, 2vw);
  border-radius: 5%;
  background-color: var(--boxPrimary);
  width: clamp(300px, 90%, 500px);
  min-height: 40vh;
  text-decoration: none;
  color: black;
}

.card h3 {
  margin-top: 30px;
}

.img,
.imgReplacement {
  width: clamp(250px, 90%, 500px);
  height: clamp(250px, 30vh, 500px);
  object-fit: cover;
  border-radius: 5%;
  background-color: var(--bgSecondary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.location {
  width: 100%;
  color: rgb(71, 71, 71);
}

/* .heart {
  position: absolute;
  right: 1em;
  top: 1em;
  font-size: 1.5em;
  cursor: pointer;
  color: rgb(71, 71, 71);
  width: 24px;
} */

/* .heart:hover {
  color: var(--bgSecondary);
} */

/* .heart:hover ~ .favInstruction {
  display: block;
} */

.svg {
  position: absolute;
  right: 1em;
  top: 1em;
  font-size: 1.5em;
  cursor: pointer;
  color: rgb(71, 71, 71);
  width: 24px;
}

.svg:hover {
  color: var(--bgSecondary);
}

.svg:hover ~ .favInstruction {
  display: block;
}

.locationDot {
  display: inline-block;
  position: relative;
  width: 14px;
  top: 2px;
}

.favInstruction {
  position: absolute;
  top: 1em;
  right: 4em;
  color: rgb(71, 71, 71);
  display: none;
  text-align: center;
  font-size: 0.8em;
}

.infos {
  margin: 1.5em 0;
}

.switch {
  /* font-size: clamp(1.5em, 5vw, 2em); */
  cursor: pointer;
  color: var(--bgSecondary);
  width: clamp(1.5em, 5vw, 2em);
}

.switchDisabled {
  /* font-size: clamp(1.5em, 5vw, 2em); */
  color: #d3d3d3;
  width: clamp(1.5em, 5vw, 2em);
}

/* Contact form: */

.contact {
  background-color: var(--bgSecondary);
  padding: 1em clamp(0.5em, 5%, 2em);
  margin: clamp(0, 5%, 2em);
  border-radius: 0.5em;
}

.contact label {
  display: block;
  margin: 1em 0em;
}

.contact textarea,
.contact input,
.contact select {
  display: block;
  padding: 0.5em;
  width: 100%;
}

.contact select:focus {
  outline: 3px solid var(--boxSecondary);
  border: none;
}

.thankyouMessage {
  background-color: var(--bgPrimary);
  padding: 1em 0;
  border-radius: 0.5em;
  text-align: center;
}

.thankyouMessage p {
  padding: 0.5em;
}

.thankyouMessage .disclaimer {
  font-size: 0.8em;
}

.buttonSection {
  margin-bottom: 30px;
}
