.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 1em 1em 1em;
}

.main p {
  font-size: 0.8rem;
}

.filterContainer {
  margin: 1em;
}

.filterContainer > * {
  margin: 5px 0px;
}

.searchInput {
  border-radius: 5px;
  background-image: url("../assets/magnifying-glass-solid.svg");
  background-repeat: no-repeat;
  background-position: 6px 6px;
  background-size: 1em;
  padding: 0.5em 0 0.5em 30px;
  margin-right: 1em;
  width: 200px;
  background-color: white;
  border: none;
}

.locationSelect,
.wateringSelect,
.sunlightSelect {
  padding: 0.5em;
  margin-right: 1em;
  font-size: 0.8em;
  border: none;
  border-radius: 5%;
  background-color: var(--bgSecondary);
}

.btnReset {
  padding: 0.5em;
  font-size: 0.8rem;
}

.filterLabel {
  font-size: 0.8rem;
}

.resultsNum {
  font-weight: 700;
}

.container {
  width: clamp(300px, 80%, 1200px);
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

li.cardsLi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: clamp(300px, 30%, 400px);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: clamp(1vw, 1%, 2vw);
  border-radius: 5%;
  background-color: var(--boxPrimary);
  width: clamp(300px, 30%, 400px);
  height: 400px;
  text-decoration: none;
  color: black;
}

.card:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.card > * {
  margin: 0.5em;
  font-size: 0.8rem;
}

.location {
  color: rgb(71, 71, 71);
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
}

.location .otherLocation {
  text-decoration: underline;
}

.location .otherLocationDetail {
  display: none;
}
.location:hover .otherLocationDetail {
  display: inline;
}
.location:hover .otherLocation {
  display: none;
}

.heart {
  position: absolute;
  right: clamp(1vw, 1%, 2vw);
  top: clamp(1vw, 1%, 2vw);
  /* font-size: 1.1em; */
  width: 1.1em;
  cursor: pointer;
  color: rgb(71, 71, 71);
}

.heart:hover {
  color: var(--bgSecondary);
}

.heart:hover ~ .favInstruction {
  display: block;
}

.favInstruction {
  position: absolute;
  top: clamp(1vw, 1%, 2vw);
  color: rgb(71, 71, 71);
  padding: 0.3em 0.8em;
  display: none;
}

.locationDot {
  display: inline-block;
  position: relative;
  width: 10px;
  top: 2px;
}

.img,
.imgReplacement {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5%;
  background-color: var(--bgSecondary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.imgContainer {
  position: relative;
  border-radius: 5%;
  overflow: hidden;
}

p.imageSource {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.6rem;
  background-color: rgb(71, 71, 71);
  opacity: 0.6;
  color: white;
  text-align: right;
  padding: 0 1em 0.2em 0.5em;
}

p.imageSource a {
  color: white;
  text-decoration: none;
}

.buttonContainer {
  margin-bottom: 50px;
}

@media (min-width: 576px) {
  .filterContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .heart:hover ~ .favInstruction {
    display: block;
  }
}
