/* font import */
@import url("https://fonts.bunny.net/css?family=akronim:400|bubblegum-sans:400|noto-sans-display:400,400i,700");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* colors */
  --bgPrimary: #eee7d0;
  --bgSecondary: #9dbb87;
  --boxPrimary: #f5c6e1;
  --boxSecondary: #e8c08a;
  --buttonHover: #957d60;
  --buttonNavHover: #d9c996;

  background-color: var(--bgPrimary);
  font-family: "Noto Sans Display", sans-serif;
}

h1 {
  font-size: clamp(40px, 10vw, 120px);
  font-family: "Bubblegum Sans";
  color: var(--bgSecondary);
}

h2 {
  margin: 1em 0;
}

button {
  background-color: var(--boxSecondary);
  border-radius: 5px;
  border: none;
  padding: 1em;
  margin: 1em;
  cursor: pointer;
}

button:hover {
  background-color: var(--buttonHover);
  color: white;
}

button:disabled {
  background-color: lightgrey;
  color: white;
}

li {
  list-style-type: none;
}

input:focus {
  outline: 2px solid var(--bgSecondary);
}

/* Animations: */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animated {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.slide-in-left {
  animation: slideInFromLeft 0.5s forwards;
}

.slide-in-right {
  animation: slideInFromRight 0.5s forwards;
}

/* .bubble {
  font-family: "Bubblegum Sans", display;
  font-size: 40px;
}


.text {
  font-family: "Noto Sans Display", sans-serif;
  font-size: 20px;
} */

/* fällt raus */
/* .akronim {
  font-family: "Akronim", display;
  font-size: 50px;
} */
