/* font import */
@import url("https://fonts.bunny.net/css?family=akronim:400|bubblegum-sans:400|noto-sans-display:400,400i,700");

.bubble {
  font-family: "Bubblegum Sans", display;
  font-size: 40px;
}

.akronim {
  font-family: "Akronim", display;
  font-size: 50px;
}

.text {
  font-family: "Noto Sans Display", sans-serif;
  font-size: 20px;
}


